name: Build

on:
  push:
    branches:
      - "**"
  pull_request:

jobs:
  build:
    if: >
      (
        github.event_name == 'push'
        || (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name != github.repository)
      )

    runs-on: ubuntu-latest

    steps:
      - name: Check out sources
        uses: actions/checkout@v6

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: 21

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: ./gradlew build

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: AppleSkinSpigot
          path: |
            build/libs/AppleSkinSpigot-*.jar
            !build/libs/*-sources.jar
            !build/libs/*-javadoc.jar
